

 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  /* background-color: white; */
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}

.button {
  margin: 60px 0;
}

.button a {
  margin: 0 40%;
  color: #fff;
  width: 22%;
  background-color: var(--button-color);
  padding: 16px 50px;
  text-decoration: none;
  border: 1px solid var(--button-color);
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
}
.button a:hover {
  margin: 0 40%;
  color: #fff;
  width: 22%;
  background-color: var(--button-color-hover);
  padding: 16px 50px;
  text-decoration: none;
  border: 1px solid var(--button-color);
  transition: .3s ease-in-out;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
}

.btn-2 {
  color: #fff;
  margin: 30px 0;
	background: #113768;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 16px 50px;
  transition: .25s ease-in-out;
}

.btn-2:hover {
  margin: 30px 0;
	background: #fff;
	color: #3d3535;
  border: 1px solid #3d3535;
}
.sub-btn{
  margin: 30px 180px;
  text-align: center;
  background: var(--button-color);
  border-radius: 30px;
  border: 1px solid #1A8CD8;
  padding: 16px 10px;
  transition: .25s ease-in-out;
  width: 40%;
  color: #fff;
  text-transform: uppercase;
}
.sub-btn:hover {
  text-align: center;
  background: var(--button-color-hover);
  color: #fff;
  border: 1px solid #1A8CD8;
  width: 40%;
  text-transform: uppercase;
}
.btn-discord {
  margin-top: 50px;
}
.btn-discord a {
  text-align: center;
  background: var(--button-color);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 50px;
  transition: .25s ease-in-out;
  width: 40%;
  color: #fff;
}
.btn-discord a:hover {
  text-align: center;
  background: var(--button-color-hover);
  color: #fff;
  border: 1px solid #1A8CD8;
  width: 40%;
}
.tos{
   font-size:22px;
   margin-bottom:20px;
   color:#666;
}
.tos-h2{
  text-align:center;
  font-weight:400;
  font-size:40px;
  margin: 0 0 30px;"
}
.privacy{
   font-size:22px;
   margin-bottom:20px;
   color:#666;
}
.privacy-h2{
  text-align:center;
  font-weight:400;
  font-size:40px;
  margin: 0 0 30px;"
}
#how-do-i-withdraw-my-consent, #payment, #l inks{
  font-weight:bold;
  font-size:22px;
  margin-bottom: 20px;
  color: #000;
}
.bg-ty{
  background-attachment: fixed;
  background-position: 10% 20%;
  padding: 100px 0;
  position: relative;
}
.bg-ty:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.download-btn{
  position: relative;
  background: #113768;
  color: #fff;
  width: 260px;
  padding:10px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  transition: background 0.3s ease;
}
.download-btn:hover{
  background: #2874F3;
  color: #fff;
}
.download-btn i {
  margin-left: 5px;
}
.countdown{
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary-color-text);
}
.countdown span{
  color: #8693F6;
  font-size: 1.5em;
  font-weight: 800;
}
.pleaseWait-text{
  font-size: 1.1em;
  font-weight: 600;
  display: none;
  color: var(--primary-color-text);
}
.manualDownload-text{
  font-size: 1.1em;
  font-weight: 600;
  display: none;
  position: relative;
  color: var(--primary-color-text);
}
.manualDownload-link{
  color: #0693F6;
  font-weight: 800;
  text-decoration: none;
}
.bg-con{
  text-align:center;
  margin-bottom:50px;
}
.bg-h2{
  color:var(--primary-color-text);
  font-weight:400;
  font-size: 80px;
  margin: 0 0 30px;
  font-family: 'roboto', sans-serif;
}
.gallery{
  border: 1px solid #ccc;
  float: left;
  transition: transform .5s;
}
.gallery:hover {
  border: 1px solid #777;
  transform: scale(1.5);
}

.gallery img {
  width: 100%;
  height: auto;
}

#testimonial{
  padding: 40px 0;
  position: relative;
  background-color: var(--primary-color);
}
#testimonial:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.bg-slides{
  /* background: url("../img/Untitled-2.jpg") no-repeat; */
  height: 400px;
  position: relative;
}
.w3-button{
  cursor: pointer;
  position: absolute;

}
.w3-display-right{
  right: 5%;
  border: none;
  background: transparent;
  font-size: 60px;
  top: 50%;
}
.w3-display-left{
  right: 90%;
  border: none;
  background: transparent;
  font-size: 60px;
  top: 49%;
}
